<%- include('../partials/header') %>
<div class="container col-lg-8 ">
<div class="card">
    <h5 class="card-header">
        Edit comment
    </h5>
    <div class="card-body">
        <form  action="/posts/<%= post._id  %>/comments/<%=comment._id %>?_method=PUT  " method="POST">
            <div class="form-group">
                <textarea name="comment[text]" id="desc" class="form-control" style="border:none;"><%=comment.text %> </textarea>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>