<%- include('../partials/header') %>
<div class="container col-lg-8">
    <div class=" mb-2">
        <div class="card">
            <h5 class="card-header text-left" style="background-color: #fff;">Friend Requests</h5>
            <div class="card-body">
                <div class="card-body">
                    <% if (currentUser.friend_requests.length==0){ %>
                    <div class="card-text text-center text-muted">No friend requests yet</div>
                    <% } else {%>
                    <%  currentUser.friend_requests.forEach((friend_request)=>{  %>
                    <% let friend=users.find(event=>event._id==friend_request) %>

                    <div class="card" style="border:none;">
                        <div class="card-body">
                            <div class="row col-12">
                                <a href="/profile/<%=friend_request  %>">
                                    <h5 class="card-title ml-2"><%=friend.username  %> </h5>
                                </a>
                                <div class="row ml-auto">
                                    <form action="/friends/<%=friend._id %>/acceptfriendrequest?_method=PUT"
                                        method="POST" class="mr-2 mb-2">
                                        <button class="btn btn-info btn-sm button_color" type="submit">
                                            Confirm</button>
                                    </form>
                                    <form
                                        action="/friends/<%=currentUser._id %>/removefriendrequest/<%=friend._id %>?_method=PUT"
                                        method="POST">
                                        <button class="btn btn-info btn-sm button_color" type="submit">
                                            Delete</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <hr>

                    <% }) %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-2">
        <div class="card">
            <h5 class="card-header text-left" style="background-color: #fff;">People You May know</h5>
            <div class="card-body">
                <%  users.forEach((user)=>{  %>
                <% if ((user.friends.find(event=>event._id==user._id)==null) && !(user._id.equals(currentUser._id)) && !(currentUser.friends.find(event=>event==user._id)) && !(currentUser.friend_requests.find(event=>event==user._id))){ %>
                <div class="card" style="border:none;">
                    <div class="card-body">
                        <div class="row col-12">
                            <a href="/profile/<%=user._id  %>">
                                <h5 class="card-title ml-2"><%=user.username  %> </h5>
                            </a>

                            <% if (user.friend_requests.find(event=>event==currentUser._id)){  %>
                            <form
                                action="/friends/<%=user._id %>/removefriendrequest/<%=currentUser._id  %>?_method=PUT"
                                method="POST" class="ml-auto">
                                <button class="btn btn-info btn-sm button_color" type="submit"> Remove
                                    Friend Request</button>
                            </form>
                            <% }else{ %>
                            <form action="/friends/<%=user._id %>/addfriend?_method=PUT" method="POST" class="ml-auto">
                                <button class="btn btn-info btn-sm button_color" type="submit"><i
                                        class="fa fa-user-plus"></i> Add
                                    Friend</button>
                            </form>
                            <% } %>

                        </div>

                    </div>
                </div>
                <hr>
                <% } %>
                <% }) %>
            </div>
        </div>
    </div>

    <div class="mb-2">
        <div class="card">
            <h5 class="card-header text-left" style="background-color: #fff;">Friends</h5>
            <div class="card-body">
                <div class="card-body">
                    <% if (currentUser.friends.length==0){  %>
                    <div class="card-text text-center text-muted">No friends yet</div>
                    <% }else{ %>
                    <%  currentUser.friends.forEach((friend)=>{  %>
                    <% let friendinfo=users.find(event=>event._id==friend) %>
                    <div class="card" style="border:none;">
                        <div class="card-body">
                            <div class="row col-12">
                                <a href="/profile/<%=friend  %>">
                                    <h5 class="card-title ml-2"><%=friendinfo.username  %> </h5>
                                </a>
                                <form action="/friends/<%=friend %>/removefriend?_method=PUT" method="POST"
                                    class="ml-auto">
                                    <button class="btn btn-info btn-sm button_color" type="submit">
                                         Unfriend</button>
                                </form>
                            </div>

                        </div>
                    </div>
                    <hr>
                    <% }) %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>