<%- include('../partials/header') %>
<div class="container col-lg-8 ">
    <div class="text-center">
        <h3><%=user.firstname  %> <%= user.lastname %> </h3>
        <p class="text-dark"><%=user.bio  %> </p>
    </div>
    <hr>
    <% if (currentUser && !(user._id.equals(currentUser._id)) && !(currentUser.friends.find(friend=>friend==user._id))){ %>
        <% if (user.friend_requests.find(event=>event==currentUser._id)){ %> 
            <div class="text-right mb-2">
                <form action="/friends/<%=user._id %>/removefriendrequest?_method=PUT" method="POST"
                    class="ml-auto">
                    <button class="btn btn-info btn-sm button_color" type="submit"> Remove
                        Friend Request</button>
                </form>
            </div>
        <% }else if(!(user.friend_requests.find(event=>event==currentUser._id))){ %> 
    <div class="text-right mb-2">
        <form action="/friends/<%=user._id %>/addfriend?_method=PUT" method="POST" class="ml-auto">
            <button class="btn btn-info btn-sm button_color" type="submit"><i class="fa fa-user-plus"></i> Add
                Friend</button>
        </form>
    </div>
    <% } %>
<% } %> 
    <div class="row">
        <div class="col-md-5 mb-2">
            <div class="card mb-2" style="border-radius: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Intro</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> <span
                            class="ml-2"><%= user.hometown  %> </span></li>
                    <li class="list-group-item"><i class="fa fa-briefcase fa-lg" aria-hidden="true"></i> <span
                            class="ml-2"> <%= user.workplace  %></span> </li>
                    <li class="list-group-item"><i class="fa fa-book fa-lg" aria-hidden="true"></i> <span class="ml-2">
                            <%= user.education  %></span> </li>
                    <li class="list-group-item"><i class="fa fa-phone fa-lg" aria-hidden="true"></i><span class="ml-2">
                            <%= user.contact  %> </span></li>
                </ul>
                <% if (currentUser && currentUser.username==user.username) {%>
                <div class="card-body text-center">
                    <a href="/profile/<%=user._id  %>/edit" class="btn btn-secondary btn-block"><i class="fa fa-pencil "
                            aria-hidden="true"></i> Edit Profile </a><br>
                </div>
                <% } %>
            </div>

            <div class="card" style="border-radius: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Friends</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <% if (user.friends.length==0){  %>
                    <li class="list-group-item text-center text-muted">No friends yet</li>
                    <% }else{ %>
                    <% user.friends.forEach((friend)=>{ %>
                    <% let friendinfo=users.find(event=>event._id==friend) %>
                    <li class="list-group-item">
                        <div class="row col-12">
                            <a href="/profile/<%=friendinfo._id %>"
                                class="text-dark font-weight-bold"><%= friendinfo.username %></a>
                            <% if (currentUser && user._id.equals(currentUser._id)){ %>
                            <form action="/friends/<%=friendinfo._id %>/removefriend?_method=PUT" method="POST"
                                class="ml-auto">
                                <button class="btn btn-info btn-sm button_color" type="submit">
                                    Unfriend</button>
                            </form>
                            <% } %>
                        </div>
                    </li>

                    <% }) %>
                    <% } %>
                </ul>
            </div>

        </div>


        <div class="col-md-7">
            <% if (currentUser && currentUser.username==user.username) {%>
            <div class="mb-2">
                <div class="card" style="border-radius: 10px;">
                    <div class="card-body">
                        <h5 class="card-title text-left">Create post</h5>
                        <div class="card-text text-muted create_post" data-toggle="modal" data-target="#newpost2">
                            What's on your mind,
                            <%=user.username  %>? </div>
                    </div>
                </div>
            </div>
            <% }  %>
            <div class="mb-2">
                <div class="card" style="border-radius: 10px;">
                    <div class="card-body">
                        <h3>Posts</h3>
                    </div>
                </div>
            </div>
            <div>
                <%  posts.forEach((post)=>{  %>
                <% if (post.author.username==user.username){ %>
                <div class="card mb-2" style="border-radius: 10px;">
                    <div class="card-body text-left">
                        <div class="row col-12">
                            <h5 class="card-title "><%=post.author.username  %> </h5>
                            <small class="text-muted ml-auto"><%=post.created.toDateString() %> </small>
                            <% if (currentUser && post.author.id.equals(currentUser._id)) {%>
                            <div class="dropdown">
                                <a class="no_outline" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="/assets/images/ellipsis.png" height="20px">
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a href="/posts/<%=post._id  %>/edit" class="dropdown-item text-left">Edit</a>
                                    <form class="dropdown-item" action="/posts/<%= post._id  %>?_method=DELETE"
                                        method="POST">
                                        <button type="submit" class="no_outline">Delete</button>
                                    </form>


                                </div>

                            </div>
                            <% } %>
                        </div>

                        <p class="card-text"><%= post.description %></p>

                        <hr class="mb-1">
                        <div class="row col-12">
                            <form action="/posts/<%=post._id%>/like?_method=PUT" method="POST">
                                <% if (post.likes.find(o => o==currentUser._id)){ %>
                                <button type="submit" class="no_outline" type="button">
                                    <img src="/assets/images/like-1.png" height="20px"><span
                                        class="ml-1"><%=post.likes.length  %></span>
                                </button>
                                <% } else{ %>
                                <button type="submit" class="no_outline" type="button">
                                    <img src="/assets/images/like.png" height="20px"><span
                                        class="ml-1"><%=post.likes.length  %></span>
                                </button>
                                <% } %>
                            </form>
                            <a class="ml-auto" data-toggle="collapse" href="#post<%=post._id  %>" role="button"
                                aria-expanded="false" aria-controls="collapseExample"><%=post.comments.length %>
                                Comments</a>
                        </div>
                        <hr class="mt-1">
                        <div class="collapse" id="post<%=post._id  %>">
                            <% if (post.comments.length==0){ %>
                            <div class="card-body comment_section">
                                <p class="card-text text-center text-muted">No comments yet</p>
                            </div>
                            <% } else { %>
                            <div class="card-body comment_section">
                                <% post.comments.forEach((comment)=>{ %>
                                <div class="row col-md-12">
                                    <div class="font-weight-bold"><%=comment.author.username  %></div>
                                    <small class="ml-auto text-secondary"><%=comment.created.toDateString()  %></small>
                                </div>
                                <div class="row col-12">
                                    <p><%=comment.text  %> </p>
                                    <% if (comment.author.id.equals(currentUser._id)) {%>
                                    <div class="dropdown ml-auto">
                                        <a class="no_outline" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="/assets/images/ellipsis.png" height="20px">
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a href="/posts/<%=post._id%>/comments/<%=comment._id %>/edit"
                                                class="dropdown-item text-left">Edit</a>
                                            <form class="dropdown-item"
                                                action="/posts/<%=post._id%>/comments/<%=comment._id %>?_method=DELETE"
                                                method="POST">
                                                <button type="submit" class="no_outline">Delete</button>
                                            </form>


                                        </div>

                                    </div>
                                    <% }%>
                                </div>

                                <% }) %>
                            </div>
                            <% } %>
                        </div>
                        <% let flag=0;
                            post.comments.forEach((comment)=>{
                                if ( currentUser && comment.author.id.equals(currentUser._id)){
                                    flag=1;
                                    
                                }
                            })
                            
                         %>
                        <% if (flag==0){ %>
                        <div>
                            <form method="POST" action="/posts/<%= post._id  %>/comments ">

                                <div class="form-group">
                                    <input name="comment[text]" id="desc" class="comment_section"
                                        placeholder="Write a comment..." required>
                                    <p class="small ml-2">Press Enter to post</p>
                                </div>
                            </form>
                        </div>
                        <% } %>

                    </div>
                </div>
                <% } %>
                <% }) %>

            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="newpost2" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="newpost2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newpost2Label">Create post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/posts">
                    <div class="form-group">
                        <textarea name="desc" id="desc" class="form-control" rows="6" cols="50"
                            placeholder="Create a post" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Post</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
<%- include('../partials/footer') %>