<%- include('../partials/header') %>
<div class="container col-lg-8 ">
    <div class="text-center">
    <h3 ><%=user.firstname  %> <%= user.lastname %> </h3>
    <p class="text-dark"><%=user.bio  %> </p>
</div>
    <hr>
    

    <div class="row">
        <div class="col-md-5 mb-2">
            <div class="card" style="border-radius: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Intro</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> <span
                            class="ml-2"><%= user.hometown  %> </span></li>
                    <li class="list-group-item"><i class="fa fa-briefcase fa-lg" aria-hidden="true"></i> <span
                            class="ml-2"> <%= user.workplace  %></span> </li>
                    <li class="list-group-item"><i class="fa fa-book fa-lg" aria-hidden="true"></i> <span class="ml-2">
                            <%= user.education  %></span> </li>
                    <li class="list-group-item"><i class="fa fa-phone fa-lg" aria-hidden="true"></i><span class="ml-2">
                            <%= user.contact  %> </span></li>
                </ul>
                <% if (currentUser && currentUser.username==user.username) {%> 
                <div class="card-body text-center">
                    <a href="/profile/<%=user._id  %>/edit" class="btn btn-secondary btn-block">Edit Profile</a><br>
                </div>
            <% } %> 
            </div>
        </div>
        <div class="col-md-7">
            <div class="mb-2">
                <div class="card" style="border-radius: 10px;">
                    <div class="card-body">
                        <h5 class="card-title text-left">Create post</h5>
                        <div class="card-text text-muted create_post" data-toggle="modal" data-target="#newpost2">
                            What's on your mind,
                            <%=user.username  %>? </div>
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <div class="card" style="border-radius: 10px;">
                    <div class="card-body">
                        <h3>Posts</h3>
                    </div>
                </div>
            </div>
            <div>
                <%  posts.forEach((post)=>{  %>
                <% if (post.author.username==user.username){ %>
                <% let x=0; %>
                <% post.comments.forEach((comment)=>{  %>
                <% x++; %>
                <% }) %>
                <div class="card mb-2" style="border-radius: 10px;">
                    <div class="card-body text-left">
                        <div class="row col-12">
                            <h5 class="card-title "><%=post.author.username  %> </h5>
                            <small class="text-muted ml-auto"><%=post.created.toDateString() %> </small>
                            <div class="dropdown">
                                <a class="btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <img src="/assets/ellipsis.png" height="20px">
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a href="/posts/<%=post._id  %>/edit" class="dropdown-item text-left">Edit</a>
                                    <form class="dropdown-item" action="/posts/<%= post._id  %>?_method=DELETE"
                                        method="POST">
                                        <button type="submit" class="btn text-left">Delete</button>
                                    </form>


                                </div>

                            </div>
                        </div>

                        <p class="card-text"><%= post.description %></p>

                        <hr class="mb-1">
                        <div class="row col-12">
                            <a href="#"><img src="/assets/like.png" height="20px" onclick="changeicon(this)"
                                    id="like_icon<%=post._id%>"></a>Like
                            <a class="ml-auto" data-toggle="collapse" href="#post<%=post._id  %>" role="button"
                                aria-expanded="false" aria-controls="collapseExample"><%=x %> Comments</a>
                        </div>
                        <hr class="mt-1">
                        <div class="collapse" id="post<%=post._id  %>">
                            <div class="card-body comment_section">
                                <% post.comments.forEach((comment)=>{ %>
                                <div class="row col-md-12">
                                    <div class="font-weight-bold"><%=comment.author.username  %></div>
                                    <small class="ml-auto text-secondary"><%=comment.created.toDateString()  %></small>
                                </div>
                                <div class="row col-12">
                                    <p><%=comment.text  %> </p>
                                    <% if (comment.author.id.equals(user._id)) {%>
                                    <div class="dropdown ml-auto">
                                        <a class="btn" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="/assets/ellipsis.png" height="20px">
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a href="/posts/<%=post._id%>/comments/<%=comment._id %>/edit"
                                                class="dropdown-item text-left">Edit</a>
                                            <form class="dropdown-item"
                                                action="/posts/<%=post._id%>/comments/<%=comment._id %>?_method=DELETE"
                                                method="POST">
                                                <button type="submit" class="btn text-left">Delete</button>
                                            </form>


                                        </div>

                                    </div>
                                    <% }%>
                                </div>

                                <% }) %>
                            </div>
                        </div>
                        <% let flag=0;
                            post.comments.forEach((comment)=>{
                                if ( user.username==comment.author.username){
                                    flag=1;
                                    
                                }
                            })
                            
                         %>
                        <% if (flag==0){ %>
                        <div>
                            <form method="POST" action="/posts/<%= post._id  %>/comments ">

                                <div class="form-group">
                                    <input name="comment[text]" id="desc" class="comment_section"
                                        placeholder="Write a comment..." required>
                                    <p class="small">Press Enter to post</p>
                                </div>
                            </form>
                        </div>
                        <% } %>

                    </div>
                </div>
                <% } %>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="newpost2" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="newpost2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newpost2Label">Create post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/posts">
                    <div class="form-group">
                        <textarea name="desc" id="desc" class="form-control" rows="6" cols="50"
                            placeholder="Create a post" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Post</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
<%- include('../partials/footer') %>