<%- include('../partials/header') %>
<center>
    <div>
        <div class="col-md-5 col-12 col-sm-4 col-lg-5 ">
            <div class="p-2 mb-2">
                <div class="card">
                    <h5 class="card-header text-left">Create post</h5>
                    <div class="card-body">
                        <div class="card-text text-muted create_post" data-toggle="modal" data-target="#staticBackdrop">
                            What's on your mind,
                            <%=currentUser.username  %>? </div>
                    </div>
                </div>


            </div>
        </div>
        <% posts.forEach((post)=>{  %>
        <% if (post.author.id.equals(currentUser._id)|| currentUser.friends.find(friend=>friend==post.author.id)){ %> 
        <div class="col-md-5 col-12 col-sm-4 col-lg-5 ">
            <div class="card mb-2">
                <div class="card-body text-left">
                    <div class="row col-12">
                        <a href="/profile/<%=post.author.id %>"><h5 class="card-title"><%=post.author.username  %> </h5></a>
                        <small class="text-muted ml-auto"><%=post.created.toDateString() %> </small>
                        <% if (currentUser && post.author.id.equals(currentUser._id)) {%>
                        <div class="dropdown">
                            <a class="no_outline" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <img src="/assets/images/ellipsis.png" height="20px">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a href="/posts/<%=post._id  %>/edit" class="dropdown-item text-left">Edit</a>
                                <form class="dropdown-item" action="/posts/<%= post._id  %>?_method=DELETE"
                                    method="POST">
                                    <button type="submit" class="no_outline">Delete</button>
                                </form>

                            </div>

                        </div>
                        <% } %>
                    </div>

                    <p class="card-text"><%= post.description %></p>

                    <hr class="mb-1">
                    <div class="row col-12">
                        <div class="row">
                            <form action="/posts/<%=post._id%>/like?_method=PUT" method="POST">
                                <% if (post.likes.find(event => event==currentUser._id)){ %>
                                <button type="submit" class="no_outline" type="button">
                                    <img src="/assets/images/like-1.png" height="20px"><span class="ml-1"><%=post.likes.length  %></span>
                                </button>
                                <% } else{ %>
                                <button type="submit" class="no_outline" type="button">
                                    <img src="/assets/images/like.png" height="20px"><span class="ml-1"><%=post.likes.length  %></span>
                                </button>
                                <% } %>
                            </form>
                            
                        </div>
                        <a class="ml-auto" data-toggle="collapse" href="#post<%=post._id  %>" role="button"
                            aria-expanded="false" aria-controls="collapseExample"><%=post.comments.length %> Comments</a>
                    </div>
                    <hr class="mt-1">
                    <div class="collapse" id="post<%=post._id  %>">
                        <% if (post.comments.length==0){ %> 
                            <div class="card-body comment_section">
                                <p class="card-text text-center text-muted">No comments yet</p>
                            </div>
                        <% } else { %> 
                        <div class="card-body comment_section">
                            <% post.comments.forEach((comment)=>{ %>
                            <div class="row col-md-12">
                                <div class="font-weight-bold"><%=comment.author.username  %></div>
                                <small class="ml-auto text-secondary"><%=comment.created.toDateString()  %></small>
                            </div>
                            <div class="row col-12">
                                <p><%=comment.text  %> </p>
                                <% if (currentUser && comment.author.id.equals(currentUser._id)) {%>
                                <div class="dropdown ml-auto">
                                    <a class="no_outline" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <img src="/assets/images/ellipsis.png" height="20px">
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a href="/posts/<%=post._id%>/comments/<%=comment._id %>/edit"
                                            class="dropdown-item text-left">Edit</a>
                                        <form class="dropdown-item"
                                            action="/posts/<%=post._id%>/comments/<%=comment._id %>?_method=DELETE"
                                            method="POST">
                                            <button type="submit" class="no_outline">Delete</button>
                                        </form>


                                    </div>

                                </div>
                                <% }%>
                            </div>

                            <% }) %>
                        </div>
                    <% } %> 
                    </div>
                    <% let flag=0;
                    post.comments.forEach((comment)=>{
                        if (currentUser && comment.author.id.equals(currentUser._id)){
                            flag=1;
                            
                        }
                    })
                    
                 %>
                    <% if (flag==0){ %>
                    <div>
                        <form method="POST" action="/posts/<%= post._id  %>/comments ">

                            <div class="form-group">
                                <input name="comment[text]" id="desc" class="comment_section"
                                    placeholder="Write a comment..." required>
                                <p class="small ml-2">Press Enter to post</p>
                            </div>
                        </form>
                    </div>
                    <% } %>

                </div>
            </div>
        </div>
    <% }%>
        <% }) %>
    </div>
</center>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Create post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/posts">
                    <div class="form-group">
                        <textarea name="desc" id="desc" class="form-control" rows="6" cols="50"
                            placeholder="What's on your mind, <%=currentUser.username  %>?" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Post</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<%- include('../partials/footer') %>